.indispensable {
  font-size: 12px;
  background-color: rgb(182, 48, 0);
  color: white;
  padding: 4px 8px;
  margin-left: 5px;
  border-radius: 4px;
}

.check_0 {
  background-color: rgb(28, 7, 160);
}

.check_2 {
  background-color: rgb(209, 1, 112);
}

.check_3 {
  background-color: darkslateblue;
}

.check_4 {
  background-color: darkgreen;
}

.check_5 {
  background-color: black;
}

#error_explanation {
  color: rgb(182, 48, 0);
}