.report-header {
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 22px;
}

.report-index-text {
  line-height: 100px;
  width:400px;
  font-weight: bold;
  margin: 0 auto;
}

.new-report-btn {
  width: 300px;
  height: 50px;
  float: right;
  font-size: 16px;
  display: flex;
  margin: 0 20px 20px 0;
}

.new-report-text { 
  border: none;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 15px 20px;
  background-color: darkgreen;
  border-radius: 5px;
  margin-left: 20px;
}

.blue-btn {
  background-color: darkblue;
}

.report-index {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.r-index-td {
  border: 1px solid gray;
  height: 35px;
}

.r-index-th {
  background-color: rgba(240, 238, 238, 0.897);
  border: 1px solid gray; 
  text-align: center;
  height: 35px;
}

.link {
  text-decoration: none;
  font-size: 14px;
}

.edit {
  background-color: green;
  border-color: white;
}

.show {
  background-color: grey;
  border-color: white;
}

.destroy {
  background-color: firebrick;
  border-color: white;
}

.rep-btn {
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  width: 95%;
  height: 95%;
}

.dl {
  background-color: darkblue;
}

@media screen and (max-width: 959px){
  

}

@media screen and (max-width: 480px){

.report-index-text {
  width: 80%;
  line-height: 60px;
  font-size: 14px;
}

.report-index {
  width: 95%;
}

.new-report-btn {
  font-size: 10px;
  width: 200px;
  height: 30px;
}

.new-report-text {
  font-size: 8px;
  padding: 8px 12px;
}

.r-index-th {
  height: 28px;
}

.r-index-tr {
  font-size: 10px; 
}


}