.error-alert {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.error-message {
  font-size: 1.3vw;
  list-style: circle;
  color: rgb(182, 48, 0);
}

@media screen and (max-width: 959px){
  
.mobile-none {
  display: none;
}

}
  
@media screen and (max-width: 480px){

#error_explanation > h2 {
  font-size: 12px;
}

#error_explanation > ul {
  font-size: 10px;
}

}