footer {
  background-color: rgb(241, 223, 202);
  width: cover;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-title {
  font-size: 24px;
  color: rgb(150, 85, 1);
  font-weight: bold;
}

.left-fot {
  width: 300px;
  margin-left: 10px;
}

.copy {
  font-size: 10px;
  color:rgb(150, 85, 1);
}

.right-fot {
  width: 200px;
  float: right;
  text-align: right;
  font-size: 12px;
  margin-right: 10px;
  color: rgb(150, 85, 1);
}

@media screen and (max-width: 959px){



}

@media screen and (max-width: 480px){

.app-title {
  font-size: 12px;
}

.copy {
  display: none;
}

.right-fot > p {
  font-size: 10px;
}

}