header {
  height: 10vh;
  width: 100%;
  background-color: rgb(241, 223, 202);
  display: flex;
  align-items: center;
}

.header-center {
  margin-right: 30%;
  margin-left: 45%;
}

.header-right {
  float: right;
}

.header-right:hover {
  opacity: 0.8;
  cursor: pointer;
}

.logo:hover {
  opacity: 0.8;
}

.user-data {
  text-align: center;
  border-radius: 10px;
  background-color: rgba(252, 252, 252, 0.6);
  float: right;
  width: 330px;
  height: 270px;
  position: fixed;
  top: 10%;
  right: 0%;
  padding: 10px 10px;
}

.user-data-wrap {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.one-icon {
  width: 100px;
  height: 120px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.icon-exp {
  border: none;
  font-size: 14px;
  color: black;
}

a {
  text-decoration: none;
}

.user-data ,li {
  border: none;
  list-style: none;
}

.user-pic,.client-dam,.logout-pic,.sign-in,.sign-up {
  border-radius: 50px;
  background-color: white;
  border: 8px solid  white;
  margin-right: 10px;
  width: 82px;
  height: 82px;
}

.client-dam:hover, .logout-pic:hover, .sign-in:hover, .sign-up:hover{
  background-color: rgb(248, 184, 101);
  cursor: pointer;
}

.user-pic:hover {
  opacity: 0.6;
}

@media screen and (max-width: 959px){

  .header-center {
    margin-right: 12%;
    margin-left: 40%;
  }
  
  .logo {
    width: 120px;
    height: 35px;
  }
  
  .header-right > img {
    width: 35px;
    height: 35px;
  }
  
}

@media screen and (max-width: 480px){

.header-center {
  margin-right: 15%;
  margin-left: 35%;
}

.logo {
  width: 100px;
  height: 32px;
}

.header-right > img {
  width: 32px;
  height: 32px;
}

.user-data {
  width: 270px;
  height: 200px;
  padding: 5px;
}

.one-icon {
  width: 80px;
  height: 100px;
}

.user-pic,.client-dam,.logout-pic,.sign-in,.sign-up {
  width: 55px;
  height: 55px;
  margin-right: 10px;
}

}