<div class="left-fot">
  <p class="app-title">sup-app</p>
  <p class="copy">Copyright ©️ 2020 Kazuto kudou All Rights Reserved.</p>
</div>
<div class="right-fot">
  <p>お問い合わせ</p>
  <p>使い方ガイド</p>
</div>