<%= render "shared/header" %>

<div class="body-wrap">
  <div class='form-header'>
      <h1 class='form-header-text'>
        登録が完了しました。
      </h1>
    </div>
  <div class="to-root">
    <%= link_to "トップへ戻る", :root, class:"root-btn" %>
  </div>
</div>

<%= render "shared/footer" %>