<%= render "shared/header" %>

<div class="body-wrap">
  <div class='form-header'>
      <h1 class='form-header-text'>
        一括記録が完了しました。
      </h1>
    </div>
  <div class="to-root">
    <%= link_to "記録一覧へ戻る", records_path, class:"root-btn" %>
  </div>
</div>

<%= render "shared/footer" %>