body {
  min-height: 100vh;
}

.name {
  text-align: center;
  font-size: 24px;
  margin: 30px 0;
}

.client-img-content, .user-image-content {
  text-align: center; 
}

.client-box-img, .user-box-img {
  width: 300px;
  height: 300px;
  border-radius: 15px;
}


.title-area {
  text-align: center;
  margin: 30px 0px auto;
  height: 100px;
}

.follow {
  height: 100px;
  width: 300px;
  display: flex;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.follow-btn {
  background-color: lightskyblue;
  border: none;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #FFF;
  padding: 2vh 10vw;
}

.follow-btn:hover {
  cursor: pointer;
}

.client-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.client-room-box {
  margin: 25px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.client-room-box>.client-room-number {
  font-size: 4vh;
  font-weight: bold;
}

.client-room-box>.item-postage {
  font-size: 16px;
}

.edit-delete-btn {
  display: flex;
  text-align: center;
}


.client-green-btn {
  text-decoration: none;
  text-align: center;
  background-color: green;
  font-size: 18px;
  font-weight: bold;
  color: #FFF;
  margin: 60px 0px;
  padding: 2vh 10vw;
}

.client-gray-btn {
  text-decoration: none;
  text-align: center;
  background-color: gray;
  font-size: 18px;
  font-weight: bold;
  color: #FFF;
  margin: 60px 0px;
  padding: 2vh 8vw;
}

.or-text {
  font-size: 20px;
}

.client-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  color: black;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.item-explain-box {
  font-size: 18px;
  margin: 40px 0px;
}

.detail-table {
  margin: 30px auto;
  width: 95%;
}

.show-table {
  margin: 30px auto;
  width: 70%;
}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.option {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.report-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  padding: 1vh 0;
  color: black;
  border: 2px solid #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.report-flag-icon {
  margin-right: 5px;
}

.comment-flag {
  display: flex;
  justify-content: center;
}

.comment-flag-icon {
  margin: 10px 5px 0 0;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 50vw;
}

.edit-top-btn {
  height: 100px;
  margin-bottom: 50px;
  text-align: center;
}

.root-btn {
  text-decoration: none;
  text-align: center;
  background-color: gray;
  font-size: 18px;
  font-weight: bold;
  color: #FFF;
  margin-bottom: 40px;
  padding: 2vh 8vw;
}

.remind-index {
  width: 98vw;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
}

.remind-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.table {
  text-align: center;
  width: 90vw;
  margin: auto;
}

.remind-head-column {
  font-size: 14px;
  text-align: center;
  border: 1px solid #dedede;
  background-color: #eee;
  padding: 12px 0;
}

.remind-one-column {
  border: 1px solid #dedede;
  font-size: 14px;
  padding: 12px 0;
}