<header>

<div class="top-page-header">

   <div class="header-logo">

   </div>
   <div class="main-header">
     <li><%= link_to 'ログイン', user_session_path, class: "login" %></li>
     <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li> 
   </div>

</div>


</header>


