<header>
  <%= render "shared/header" %>
</header>

<div class="body-wrap">
  <div class="search-wrap">
    <%= render "rooms/search_bar" %>
  </div>
  <% if user_signed_in? %>
    <%= render "shared/rooms"%>
  <% end %>
</div>

<footer>
  <%= render "shared/footer" %>
</footer>