<%= render "shared/header" %>

<div class="body-wrap">
  <div class="search-wrap">
    <%= render "rooms/search_bar" %>
  </div>
  <% if user_signed_in? %>
    <%= render "shared/rooms"%>
  <% end %>
</div>

<%= render "shared/footer" %>