<header>
  <%= render "shared/header" %>
</header>

<div class="search-wrap">
  <%= render "rooms/search_bar" %>
</div>

<%= render "shared/rooms" %>

<footer>
  <%= render "shared/footer" %>
</footer>