// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title-area {
  font-size: 30px;
}

.to-root {
  text-align: center;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-around;
}

.edit-btn {
  text-decoration: none;
  text-align: center;
  background-color: green;
  font-size: 18px;
  font-weight: bold;
  color: #FFF;
  margin-top: 40px;
  padding: 2vh 8vw;
}