.record-head {
  height: 100px;
  display: flex;
}

.rh-btn  {
  width: 200px;
  height: 50px;
  margin: 40px 30px 0 30px;
}

.rh-text {
  border: none;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 5px; 
}

.water-record-text {
  background-color: darkblue;
}

.bulk-save-text {
  background-color: rgb(179, 86, 0);
}

.excretion-record-text {
  background-color: darkgreen;
}

.table-wrap {
  width: 95vw;
  text-align: center;
  margin: 0 auto;
  height: 68vh;
  overflow-x: scroll;
}

.table {
  width:95%;
  margin: 0 auto;
}

.client-column {
  border: 2px solid gray;
  height: 30px;
  min-width: 120px;
  text-align: center;
}

.client-one-column {
  border: 2px solid gray;
  min-width: 120px;
  max-height: 80px;
}

.record-client-name {
  color: black;
  font-weight: bold;
}

.record-client-name:hover {
  border-bottom: 1px solid black
}

.meal-one-column {
  border: 2px solid gray;
  max-width: 120px;
  height: 27px;
}

.head-column {
  height: 30px;
  min-width: 95px;
  text-align: center;
  border: 2px solid gray
}

.modal {
  z-index:10;
  background-color: rgb(250, 223, 189);
  height:40%;
  width: 50%;
  position: fixed;
  top: 10%;
  right: 0;
  bottom: 0;
  left: 18%;
  border-radius: 12px;
  padding: 0 40px;
}

.modal > h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 20px auto;
}

.modal > p {
  text-align: left;
  margin-bottom: 5px;
}

.modal-back {
  z-index: 9;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.1);
  display: none;
}

.modal-btn {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.record-btn {
  background-color: rgb(179, 86, 0);
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 6px;
}

.edit {
  background-color: rgb(1, 151, 26);
}

.delete {
  background-color: gray;
}

.one-column {
  min-width: 95px;
  height: 95px;
  text-align: center;
  border: 2px solid gray;
}

.points-wrap {
  min-width: 95px;
  height: 95px;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.print {
  width: 32px;
  height: 32px;
  float: left;
  background-color: white;
  border-radius: 20px;
  border: 4px solid #faf9f8;
  background-color: rgb(252, 225, 175);
}

.carryout {
  background-color: rgb(199, 198, 198);
}

img[data-carryout_id = "1"] {
  background: rgb(252, 225, 175);
}

img[data-carryout_id = "2"] {
  background: rgb(199, 198, 198);
}

.bulk-btn {
  background-color: rgb(150, 85, 1);
  color: white;
  font-size: 12px;;
  font-weight: bold;
  padding: 4px 6px;
  border-radius: 4px;
}

@media screen and (max-width: 959px){
  
.rh-text {
  font-size: 12px;
}

.rh-btn {
  width: 150px;
  margin: 40px auto 20px;
  text-align: center;
}

}

@media screen and (max-width: 480px){

.record-head {
  height: 50px;
}

.rh-btn {
  width: 100px;
  height: 30px;
  margin: 10px auto;
  text-align: center;
}

.rh-text {
  padding: 8px 10px;
  font-size: 10px;
}

.client-column {
  font-size: 12px;
  min-width: 80px;

}

.client-one-column {
  max-width: 70px;
  max-height: 50px;
}

.points-wrap {
  min-width: 50px;
  height: 90px;
}

.one-column {
  height: 50px;
}

.client-one-column > a {
  font-size: 12px;
}

.client-one-column > p {
  font-size: 12px;;
}

.head-column {
  font-size: 12px;
}

.record-room-number {
  font-size: 12px;
}

.meal-one-column {
  height: 18px;
}

.meal-one-column > p {
  font-size: 12px;
}

.amount-record {
  font-size: 12px;
}

.modal {
  height: 35%;
  width: 80%;
  right: 5%;
  left: 5%;
  padding: 15px;
}

.modal > h2 {
  font-size: 15px;
  margin: 8px auto;
}

.modal > p {
  font-size: 12px;
}

.modal-btn {
  margin-top: 8px;
}

.record-btn {
  font-size: 12px;
}

.print {
  width: 20px;
  height: 20px;
  border: 2px solid white;
}

.m-rec {
  width: 35px;
  height: 35px;
}

}