.form-time-wrap {
  display: flex;
  justify-content: space-evenly;
}

#record_start_time_4i,
#record_start_time_5i,
#record_end_time_4i,
#record_end_time_5i {
  width: 100px;
  height: 50px;
}

.meal-form-wrap {
  margin-top: 30px;
  display: none;
}

.exc-form-wrap {
  margin-top: 30px;
  display: none;
}