<%= render "shared/header" %>

<div class="body-wrap">
  
  <div class="form-header">
    <div class="report-index-text">
      事故報告書一覧
    </div>
    <div class="new-report-btn">
      <%= link_to "新規作成", new_report_path, method: :get, class:"new-report-text" %>
    </div>
  </div>
  <div class="report-index">
    <table>
      <tr class="r-index-tr">
        <th class="r-index-th">ID</th>
        <th class="r-index-th">お客様名</th>
        <th class="r-index-th">居室番号</th>
        <th class="r-index-th">事故発生日</th>
        <th class="r-index-th mobile-none">承認</th>
        <th class="r-index-th" colspan="3"></th>
      </tr>
      <%= render "reports/report" %>
    </table>
  </div>
</div>

<%= render "shared/footer" %>